.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.middle {
  width: 371px;
  background: #e5e5e5;
}
.card {
  background-color: #e5e5e5;
  padding: 0 15px;
  margin-bottom: 12px;
}
.childCard {
  background-color: #fff;
  border-radius: 12px;
  padding: 12px;
}
.image {
  margin: 25px 0;
  width: 160px;
  object-fit: cover;
}
.row {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.05);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h6 {
  color: #8e8e9e;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2%;
  margin: 16px 0;
}
h4 {
  color: #040415;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  margin: 16px 0;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.15px;
  color: #6d7885;
  text-align: start;
}
.label {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #8e8e9e;
  width: 100%;
  background: #ffffff;
  /* Light Field / Border */

  border: 0.5px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
}
.btn {
  font-size: 17px;
  line-height: 22px;
  color: #fff;
  font-weight: 600;
  background: #01cab0;
  border-radius: 8px;
  width: 100%;
  padding: 15px;
}
.child {
  padding: 0 15px;
  padding-bottom: 46px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
